@{
    ViewData["Title"] = "Home Page";
}

<div>   
    <a href="~/Authenticated/Index">Authenticated Index</a>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="~/Authenticated/Secured">Authenticated Secured</a>
</div>
<br><br>
<div class="container">
    <h1>Welcome, This is Home Index page</h1>

</div>