<div>   
    <a href="~/Home/Index">Home Index</a>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="~/Authenticated/Secured">Authenticated Secured</a>
</div>
<br><br>
<div>
    <h1>This is a <b>Authenticated Index</b> page</h1>
</div>