<div>   
    <a href="~/Home/Index">Home Index</a>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a href="~/Authenticated/Index">Authenticated Index</a>
</div>
<br><br>
<div>
    <h1>This is a <b>Authenticated Secured</b> page</h1>
</div>